body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

button {
  margin: 8px;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #008cba;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #005f6a;
}

#art-gallery {
  margin-top: 20px;
}

